.navbar{
    background-color: #36454f;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

.brand-name{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    margin-right: 100px;
}

.navbar-link{
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

.page-title{
    background-color: rgb(199, 43, 246);
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
}